<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %} - Lincoln Fitness</title>
  <!-- apply favicon  -->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico')}}" />
  <!-- use css bootstrap templates -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Roboto&family=Ubuntu&display=swap"
    rel="stylesheet">
  <!-- render the css static file -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" />
  <!-- Sweet alert Js -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- rendering specific style file for each page, such as styles or flash message -->
  {% block head %} {% endblock %}
</head>

<body>

  <div class="container"></div>
  <!--Collapsible Navigation bar design-->


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand p-2" href="{{ url_for('home')}}">
        <img src="{{url_for('static', filename='img/logo.png')}}" alt="gymlogo" width="100" height="100"
          class="logo-top mx-2" />Lincoln
        Fitness</a>
      <button class="navbar-toggler m-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-3" id="collapsibleNavbar">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('news')}}">News</a>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="{{ url_for('about')}}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact')}}">Contact Us</a>

          </li>
        </ul>


        <ul class="navbar-nav ms-auto m-2">
          <li class="nav-item dropdown">
            {% if not session['logged_in'] %}
            <ul class="navbar-nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('attendance_tracker')}}">Attendance Tracker</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('login')}}">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register')}}">Register</a>
              </li>
            </ul>
            {% endif %} {% if session['logged_in'] %}
            <a href="{{ url_for('login')}}" id="navbardrop" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
              <i class="bi bi-person-square"></i> Hi,
              {{session['user'][1]}}
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item">
                  <i class="bi bi-person-vcard"></i>
                  &nbsp&nbsp<strong>{{ session['user_type'] }}</strong>{% if
                  session['user_type']=='Member' %}<small>&nbsp&nbspID:{{ session['userid']}}</small>{% endif %}</a>
              </li>
              <div class="dropdown-divider"></div>
              <!--Function link list for Member-->
              {% if session['user_type'] == 'Member' %}
              <li>
                <a class="dropdown-item" href="{{ url_for('member')}}"><i class="bi bi-house-door"></i>
                  &nbspMember Portal</a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('member_details')}}"><i class="bi bi-person-vcard"></i>
                  &nbspMy Details</a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('attendance')}}"><i class="bi bi-journal-check"></i>
                  &nbspMy Attendance</a>

              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('group_classes') }}"><i class="bi bi-calendar2-week"></i>
                  &nbspClass Schedule</a>
              </li>
              {% endif %}
              <!--Function link list for both Admin/Manager-->
              {% if session['user_type'] == 'Admin' or session['user_type'] == 'Manager' %}
              <li>
                <a class="dropdown-item" href="{{ url_for('admin')}}"><i class="bi bi-house-door"></i>
                  &nbspAdmin Portal</a>
              </li>
              <li>
                <a class="dropdown-item" href="{{url_for('news_compose')}}"><i class="bi bi-clipboard-minus"></i>
                  &nbspPost A News</a>
              </li>
              <li>
                <a class="dropdown-item" href="{{url_for('add_member')}}"><i class="bi bi-file-earmark-person"></i>
                  &nbspAdd New Member</a>
              </li>
              <li>
                <a class="dropdown-item" href="{{url_for('attendance_report')}}"><i class="bi bi-card-checklist"></i>
                  &nbspAttendance Report</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{url_for('admin_trainer_schedule')}}"><i
                    class="bi bi-calendar-week"></i>
                  &nbspTrainer Schedule</a>
              </li>

              <li>
                <a class="dropdown-item" href="{{url_for('expiring_membership')}}"><i
                    class="bi bi-exclamation-square"></i>
                  &nbspExpiring Membership</a>
              </li>

              {% if session['user_type'] == 'Manager' %}
              <li>
                <a class="dropdown-item" href="{{url_for('manager_class_ranking')}}"><i
                    class="bi bi-file-earmark-text"></i>
                  &nbspPopular Classes</a>
              </li>
              {% endif %}
              {% endif %}
              <!--Function link list for Manager only-->

              <!--Function link list for Trainer-->
              {% if session['user_type'] == 'Trainer' %}
              <li>
                <a class="dropdown-item" href="{{ url_for('trainer')}}"><i class="bi bi-house-door"></i>
                  &nbspTrainer Portal</a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('trainees')}}"><i class="bi bi-card-list"></i>
                  &nbspMy Trainees</a>
              </li>

              {% endif %}
              <div class="dropdown-divider"></div>
              <li>
                <a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-left"></i>
                  &nbspLog out</a>
              </li>
            </ul>
            {% endif %}
          </li>
        </ul>
      </div>


  </nav>

  <!--Collapsible navbar up here.-->

  <div id="page-container">
    <div id="content-wrap">{% block content %}{% endblock %}</div>

    <!-- use javascript templates -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
    <!-- allow the page to go back, need to be tested in future -->
    <script>
      function goBack() {
        window.history.back();
      }

    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>


    <!-- Footer -->

    <footer id="footer">
      {% block footer %}
      <p id="compname" style="margin-top: 2%;">Lincoln Fitness</p>
      Copyright © <span id="year">2023</span> by LU MAC Group 26
      {% endblock%}
    </footer>
  </div>
</body>

</html>