{% extends "base.html" %}

{% block head %}
{{ super() }}
<style>
  body {
    background-image: url('');
  }
</style>
{% endblock %}

{% block title %}Home{% endblock %}


{% block content %}
<!-- Display a flash message -->
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="hpcontainer">
  <img src="../static/img/hpbkg.JPG" alt="hp" style="width:100%;">
  <a href="{{ url_for('register')}}" type="button" class="btn btn-secondary btn-block">Sign up Now</a>
</div>


{% endblock %}